.additional-goods {

}

.additional-goods__wrapper {
  padding: 0 20px;
}

.additional-goods__title {
  font-size: 24px;
  margin-bottom: 30px;
}

.additional-goods__list {
  .list-reset();

  margin-bottom: 40px;
}

.additional-goods__item {
  padding: 14px 0;
  border-top: 1px solid @bg-border-light-grey;
}

.additional-goods__item:last-child {
  border-bottom: 1px solid @bg-border-light-grey;
}

.additional-goods__name {
  margin-bottom: 14px;

  text-transform: uppercase;
}

.additional-goods__price-wrapper {
  display: flex;
  margin-bottom: 14px;

  font-family: "Arial";
  font-size: 14px;
  color: @color-grey
}

.additional-goods__price {
  margin-left: auto;
}

.additional-goods__order-all {
  position: relative;
  height: 289px;

  margin-bottom: 10px;

  background: url("../../img/gift-photo-mobile@1x.jpg") no-repeat 50% 0;
}

.additional-goods__order-all-text {
  position: absolute;
  width: 176px;

  bottom: 44px;

  left: 50%;
  transform: translateX(-50%);

  font-family: "Arial";
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color:white;
}
