.catalog {
  margin-bottom: 30px;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog__item {
  border: 1px solid @bg-border-light-grey-2;
  margin-top: -1px;

  &:first-child {
    margin-top: 0;
  }
}

.catalog__outer-item-wrapper {
  padding: 0 20px 24px;
}

.catalog__item-wrapper {
  display: flex;

  align-items: center;
}

.catalog__list {
  .list-reset();
}

.catalog__title {
  margin-bottom: 34px;
  padding: 0 20px;

  font-size: 36px;
  line-height: 1;

  text-align: left;
}

.catalog__name {
  max-width: 72px;
  margin-bottom: 18px;

  line-height: 1.25;
  text-transform: uppercase;
}

.catalog__characteristics {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.catalog__characteristic {
  display: flex;
  flex-grow: 1;

  font-family: "Arial";
  font-size: 12px;
  line-height: 1.33;
  color: @color-grey;
}

.catalog__characteristic + .catalog__characteristic {
  margin-top: 2px;
}

.catalog__characteristic-name {
  flex-grow: 1;
}

.catalog__more {
  padding: 25px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__show-more {
  width: 31px;
  min-height: 31px;

  margin-bottom: 24px;

  border: none;

  background: url("../../img/icon-plus-mobile.svg");
  filter: opacity(0.3) blur(0.5px);
}

.catalog__more-info-title {
  font-size: 16px;

  margin-bottom: 10px;

  text-transform: uppercase;
}

.catalog__more-info-subtitle {
  font-size: 12px;
  color: @color-grey;

  margin-bottom: 22px;
}

.catalog__order {
  font-size: 16px;
}

.catalog__show-all {
  font-size: 16px;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    width: 708px;
  }

  .catalog__outer-item-wrapper {
    padding: 0 38px 40px;
  }

  .catalog__title {
    margin-bottom: 156px;
    padding: 0;

    font-size: 60px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
    min-height: 430px;

    margin-top: 0;
    margin-right: 60px;
    margin-bottom: 140px;

    border: none;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 0;
  }

  .catalog__name {
    align-self: center;

    max-width: 128px;
    margin-bottom: 28px;

    font-size: 20px;
    text-align: center;
  }

  .catalog__outer-item-wrapper {
    background: @bg-grey;
  }

  .catalog__item-wrapper {
    display: flex;
    flex-direction: column;
  }

  .catalog__characteristics {
    width: 100%;
    margin-bottom: 32px;
  }

  .catalog__characteristic {
    font-size: 16px;
    line-height: 1.69;

    border-bottom: 1px solid @color-grey-3;
  }

  .catalog__image {
    &_size_small {
      width: auto;
      height: 172px;

      margin-top: -50px;
      margin-bottom: 40px;
    }

    &_size_big {
      width: auto;
      height: 208px;

      margin-top: -85px;
      margin-bottom: 40px;
    }
  }

  .catalog__more {
    padding: 59px 38px 40px;

    border: 1px solid @bg-border-pinkish-grey;
  }

  .catalog__show-more {
    width: 61px;
    min-height: 61px;

    margin-bottom: 50px;

    background: url("../../img/icon-plus.svg");
  }

  .catalog__more-info-title {
    max-width: 160px;
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  .catalog__more-info-subtitle {
    max-width: 160px;
    margin-bottom: 85px;

    font-size: 16px;
    line-height: 1.25;

    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    width: 1220px;
  }

  .catalog__item {
    width: 245px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 60px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
}
