.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  font-family: "Arial";
  font-size: 16px;

  color: @color-grey;
}

.copyright__image {
  margin-left: auto;

  filter: grayscale(1);
}
