.explanation {
  margin-top: 32px;
  margin-bottom: 32px;
}

.explanation__wrapper {
  padding: 0 20px;
}

.explanation__header {
  font-size: 36px;
  line-height: 1.67;
  margin-bottom: 32px;
}

.explanation__list {
  .list-reset();
}

.explanation__item {
  .small-description-text()
}

.explanation__item + .explanation__item {
  margin-top: 20px;
}
