.extra {
  margin-bottom: 34px;
}

.extra__wrapper {
  width: 320px;
  margin: 0 auto;

  padding: 0 20px;
}

.extra__title {
  margin-bottom: 30px;

  font-size: 24px;
}

.extra__field + .extra__field {
  margin-top: 13px;
}

@media (min-width: @tablet-width) {
  .extra__wrapper {
    width: 768px;

    padding: 0 70px;
  }

  .extra__checkbox-container {
    display: flex;
    flex-wrap: wrap;
  }

  .extra__title {
    width: auto;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1;
  }

  .extra__field {
    width: 50%;

    &:nth-child(1) {
      margin-bottom: 32px;
    }

    &:nth-child(2) {
      margin-bottom: 32px;
    }
  }

  .extra__field + .extra__field {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .extra__wrapper {
    width: 1200px;
    padding: 0 10px;
  }

  .extra__field {
    width: 25%;
  }
}
