.form-page-main__submit-wrapper {
  padding: 0 20px;

  margin-bottom: 32px;
}

.form-page-main__submit {
  margin-bottom: 22px;
}

.form-page-main__required-fields {
  font-family: "Arial";
  font-size: 14px;
  text-align: center;
  color: @color-grey;
}
