.location {
  position: relative;

  &__grey-header {
    .location__wrapper {
      background: @bg-grey;
    }
  }
}

.location__wrapper {
  width: 320px;
  margin: 0 auto;

  display: flex;

  align-items: center;
  padding: 26px 20px;
}

.location__title {
  font-size: 16px;
  line-height: 1.25;

  text-transform: uppercase;
}

.location__address {
  margin-left: 24px;

  font-family: "Arial";
  font-size: 14px;
  line-height: 1.43;


  color: @color-grey;
}

.location__map {
  position: relative;
  margin: 0 auto;

  width: 320px;
  min-height: 400px;
  background: url("../../img/bg-map-mobile@1x.png") no-repeat 50% 0;
}

.location__pin {
  position: absolute;

  top: 182px;
  left: 136px;

  width: 55px;
  min-height: 53px;
}

@media (min-width: @tablet-width) {
  .location__wrapper {
    width: 708px;
    justify-content: space-between;
  }

  .location__map {
    width: 767px;
    background: url("../../img/bg-map-tablet@1x.png") no-repeat 50% 0;
  }

  .location__pin {
    top: 150px;
    left: 333px;

    width: 113px;
    min-height: 106px;
  }
}

@media (min-width: @desktop-width) {
  .location__wrapper {
    position: absolute;
    top: 95px;
    left: 10%;
    z-index: 1;

    width: 570px;
    min-height: 200px;

    background: white;
  }

  .location__map {
    width: 100%;
    background: #f2f2f2 url("../../img/bg-map-desktop@1x.png") no-repeat 50% 0;
  }

  .location__pin {
    left: 1009px;
  }
}
