.main-info {
  margin-bottom: 24px;
}

.main-info__field + .main-info__field {
  margin-top: 14px;
}

@media (min-width: @tablet-width) {
  .main-info {
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .main-info {
    flex-grow: 1;
    margin-bottom: 0;
  }
}
