.page-footer {
  background-color: @bg-grey;

  padding-top: 40px;
  padding-bottom: 22px;
}

.page-footer__wrapper {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.page-footer__title {
  margin-bottom: 32px;

  align-self: center;
}

.page-footer__social {
  padding-top: 32px;
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 768px;

    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1200px;
  }
}
