.program-type {
  margin-bottom: 30px;
}



.program-type__radio {
  border: solid 1px @bg-border-light-grey-2;
  border-radius: 2px;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
  .program-type {
    flex-grow: 1;
    margin-bottom: 0;
  }
}
