.programs {

}

.programs__wrapper {
  padding: 0 20px;
}

.programs__list {
  .list-reset();
}

.programs__item {
  padding: 22px;
  background: @bg-grey;
}

.programs__item + .programs__item {
  margin-top: 20px;
}

.programs__item-title {
  margin-bottom: 24px;

  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
}

.programs__item-description {
  padding-bottom: 24px;
  margin-bottom: 20px;

  border-bottom: 1px solid @bg-border-light-grey;

  .small-description-text();
}

.programs__item-link {
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
