.slider {

}

.slider__list {
  .list-reset();

  overflow: hidden;
  height: 240px;

  margin-bottom: 34px;
}


.slider__toggle {
  display: flex;
  justify-content: center;
}

.slider__control-container {

}

.slider__pin {

}

.slider__toggle-btn {
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;

  background: transparent;
  border: none;
}

@media (min-width: @tablet-width) {
  .slider__list {
    .list-reset();

    height: 517px;
    overflow: hidden;
  }

  .slider__image {
    width: 690px;
  }
}
